{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        {% endif %}
        {% if user.is_authenticated %}
        	<a class="btn btn-default" href="{% url 'blog:post_edit' post_id=post.id %}"><span class="glyphicon glyphicon-pencil"></span></a>	
        {% endif %}     
    </div>
{% endblock %}
